<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div id="left">
        <img th:if="${avatar == null} and ${isAuthor}" src="/pictures/photo.png" alt="usericon">
        <img th:if="${avatar != null} and ${isAuthor}"
             th:src="'data:image/jpeg;base64,' + ${avatar}" alt="Image">

        <img th:if="${avatarAnother == null} and !${isAuthor}" src="/pictures/photo.png" alt="usericon">
        <img th:if="${avatarAnother != null} and !${isAuthor}"
             th:src="'data:image/jpeg;base64,' + ${avatarAnother}" alt="Image"><br>

        <h1 style="text-align: center;" th:text="${user.FirstName + '   ' + user.LastName}"></h1>
        <p>Номер телефону: <span th:text="${user.PhoneNumber}"></span></p>
        <p>Email: <span th:text="${user.Email}"></span></p>
        <p>День народження: <span th:text="${user.DateOfBirth}"></span></p>
        <p th:if="${user.Country != null and user.Country != ''}">Країна: <span th:text="${user.Country}"></span></p>
        <p th:if="${user.Region != null and user.Region != ''}">Регіон: <span th:text="${user.Region}"></span></p>
        <p th:if="${user.City != null and user.City != ''}">Місто: <span th:text="${user.City}"></span></p>
        <p th:if="${user.Education != null and user.Education != ''}">Освіта: <span th:text="${user.Education}"></span></p>
        <p th:if="${user.Workplace != null and user.Workplace != ''}">Місце роботи: <span th:text="${user.Workplace}"></span></p>

        <div th:insert="~{/user/partsOfPages/leftFrameButtons}"></div>
    </div>
</html>
