<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <form typeof="hidden" method="get" action="/user/getUsersGroups">
        <input class="field" th:value="${user.login}" type="hidden" name="id" />
        <input class="leftFrameButton" type="submit" value="Групи">
    </form>

    <form typeof="hidden" method="get" action="/user/getUsersFriends">
        <input class="field" th:value="${user.login}" type="hidden" name="id" />
        <input class="leftFrameButton" type="submit" value="Друзі">
    </form>

    <div th:if="${user.login == author.login}">
        <form method="get" action="/user/getInvitationsToFriends">
            <input class="field" th:value="${user.login}" type="hidden" name="id" />
            <input class="leftFrameButton" type="submit" value="Запити на дружбу">
        </form>
    </div>

    <div id="divLeftFrameButtons" th:if="${user.Login != author.Login}">
        <form>
            <input id="userLogin" th:value="${user.login}" type="hidden" />
        </form>
        <div th:if="${InRequests == 0}">
            <button id="submitInvite" class="leftFrameButton" onclick="inviteToFriends()">Запросити в друзі</button>
        </div>

        <div th:if="${InRequests == 1}">
            <button id="submitRemoveInvite" class="leftFrameButton" onclick="removeInviteToFriends()">Скасувати запит на дружбу</button>
        </div>

        <div th:if="${InRequests == 2}">
            <button id="submitAccept" class="leftFrameButton" onclick="acceptToFriends()">Прийняти запит на дружбу</button>
            <button id="submitReject" class="leftFrameButton" onclick="rejectInvitationToFriends()">Відхилити запит на дружбу</button>
        </div>

        <div th:if="${InRequests == 3}">
            <button id="submitRemove" class="leftFrameButton" onclick="removeFromFriends()">Видалити з друзів</button>
        </div>
    </div>
</html>
