<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div id="right">
        <form id="searchForm" typeof="hidden" method="get" action="/searchResult/getSearchResult">
            <input id="searchInput" type="hidden" name="SearchText">
        </form>

        <form id="pseudoSearchForm">
            <input id="pseudoSearchInput" type="text" placeholder="Пошук...">
            <input id="searchButton" type="submit" value="Знайти" onclick="submitSearch(event)">
        </form>

        <div th:if="${isAuthor}">
            <br><br>
            <div id="new-comment">
                <form id="new-comment-form">
                    <div class="form-group">
                        <textarea id="comment-content" name="text" placeholder="Введіть текст публікації..."></textarea>
                    </div>
                    <button class="submit-btn" type="button" th:attr="onclick='submitPublication(\'' + ${user.login} + '\')'">Опублікувати</button>
                </form>
            </div>
        </div>

        <br><br>

        <div id="publications" th:fragment="publications">
            <th:block th:if="${publications != null and publications.size() > 0}">
                <th:block th:each="i : ${#numbers.sequence(publications.size() - 1, 0, -1)}">
                    <div  th:replace="~{renderComment/renderCommentUser :: renderComment(comment=${publications[i]})}"></div>
                </th:block>
            </th:block>
            <p th:unless="${publications != null and publications.size() > 0}">Публікацій ще нема.</p>
        </div>

        <form id="commentReporter" method="post" action="/report/addReport">
            <input class="field" th:value="${user.login}" type="hidden" name="idPage" />
            <input class="field" value="Comment User" type="hidden" name="type" />
            <input class="field" th:value="${author.login}" type="hidden" name="authorLogin" />
            <input class="field" th:value="${author.password}" type="hidden" name="authorPassword" />
            <input class="field" id="idPublicationReport" value="" type="hidden" name="idPublication" />
            <input class="field" id="idCommentReport" value="" type="hidden" name="idComment" />
            <input class="field" id="commentTextReport" value="" type="hidden" name="subject" />
        </form>
    </div>
</html>
