<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header id="layoutHeader">
    <div class="navbar-header">
        <p id="bigbuttonlink" onclick="submitBugButton()">SocialPath</p>
        <form id="bigbutton" typeof="hidden" action="/user/authorisation"></form>
    </div>
    <div class="userIcon">
        <img th:if="${avatar == null}" id="usericon" width="30px" height="30px" alt="usericon"
             onclick="dropdownUser()" src="/pictures/photo.png">
        <img th:unless="${avatar == null}" id="usericon" width="30px" height="30px" alt="usericon"
             onclick="dropdownUser()" th:src="'data:image/jpeg;base64,' + ${avatar}">
    </div>
    <form id="formbackPersonnalInfo" method="get" action="/user/getUserInfo"></form>
    <div id="dropdown" class="dropdown">
        <a href="#" onclick="personalInformation()">Про цей бізнес</a>
        <a href="#" onclick="logout()">Вийти</a>
    </div>
</header>
</html>
