<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialPath</title>
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/userIconStyle.css">
    <link rel="stylesheet" href="/style/changePasswordStyle.css">
    <link rel="stylesheet" href="/style/gradientPage.css">
</head>
<body>
<div th:insert="~{/shared/layout2 :: #layoutHeader}"></div>

<div class="container">
    <div class="authtitle"><h1>Змінити пароль</h1></div>
    <div class="authform">
        <form id="regform" method="post" action="/user/changePassword">
            <div class="authinput">
                <h2 class="name">Старий пароль</h2>
                <input class="field" id="oldPassword" type="text" name="oldPassword" />
                <h2 class="name">Новий пароль</h2>
                <input class="field" id="password" type="text" name="password" />

                <input class="button" type="submit" value="Зберегти" />

                <p class="errortext" th:text="${errorText}"></p>
            </div>
        </form>
        <form id="backform" method="get" action="/user/authorisation">
            <input class="button" id="buttonback" type="submit" value="На мою сторінку" />
        </form>
    </div>
</div>

<h2 id="imageToUploadByDefault" th:text="${avatar}" style="display: none;"></h2>

<footer id="layoutFooter">
    <p>&copy; <span th:text="${#dates.year(#dates.createNow())}"></span> - SocialPath</p>
</footer>

<script src="/script/generateYears.js"></script>
<script src="/script/dateValidation.js"></script>
<script src="/script/dropdownUser.js"></script>
<script src="/script/bigButton.js"></script>
<script src="/script/validateAvatarSize.js"></script>
<script src="/script/imageUpdateDefault.js"></script>
<script src="/script/authorization/logout.js"></script>
</body>
</html>
