<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="renderComment(comment)">
    <div class="comment" th:id="${comment.id}">
      <img class="commentImage" th:if="${comment.authorAvatar == null}" src="/usericon.png" alt="usericon"
           th:attr="data-login=${comment.authorLogin}"
           onclick="sendAnotherUserForm(this)">
      <img class="commentImage" th:unless="${comment.authorAvatar == null}" th:src="'data:image/jpeg;base64,' + ${comment.authorAvatar}" alt="usericon"
           width="30px" height="30px"
           th:attr="data-login=${comment.authorLogin}"
           onclick="sendAnotherUserForm(this)">
      <a class="username" href="#"
         th:text="${comment.authorName}"
         th:attr="data-login=${comment.authorLogin}"
         onclick="sendAnotherUserForm(this)"></a>
      <div class="commentText" th:text="${comment.text}"></div>
      <div class="commentMedia">
        <div th:if="${comment.media != null and !comment.media.isEmpty()}">
          <div th:if="${comment.media.size() == 1 and comment.isVideo}">
            <video controls th:src="'data:video/mp4;base64,' + ${comment.media[0]}"></video>
          </div>

          <div th:if="${comment.media.size() > 0 and !comment.isVideo}">
            <div th:each="img : ${comment.media}">
              <img th:src="'data:image/jpeg;base64,' + ${img}" alt="image">
            </div>
          </div>
        </div>
      </div>

      <button class="reply-btn" th:attr="onclick='makeVisible(\'' + ${comment.id} + '\')'">Reply</button>
      <button class="delete-btn" th:if="${comment.authorLogin == author.login || author.login == user.login}" th:attr="onclick='submitRemoveComment(\'' + ${comment.id} + '\',\'' + ${user.login} + '\')'">Delete</button>
      <button class="report-btn-t1" th:if="${(comment.authorLogin == author.login || author.login == user.login) && comment.authorLogin != author.login}" th:attr="onclick='makeVisibleReport(\'' + ${comment.id} + '\')'">Report</button>
      <button class="report-btn-t2" th:if="${comment.authorLogin != author.login && !(comment.authorLogin == author.login || author.login == user.login)}" th:attr="onclick='makeVisibleReport(\'' + ${comment.id} + '\')'">Report</button>

      <div class="reply-section" th:classappend="${comment.id}" style="display: none;">
        <textarea type="text" th:id="'publication-text-' + ${comment.id}" class="reply-field" th:classappend="${comment.id}" placeholder="Введіть тут Ваш коментар..."></textarea>

        <div th:id="'publication-media-preview-' + ${comment.id}" class="media-preview" th:classappend="${comment.id}"></div>
        <input type="file" th:id="'publication-media-' + ${comment.id}" class="media-field" name="media" accept="image/*,video/mp4" multiple style="display: none;">

        <div class="publication-actions">
          <button type="button" th:id="'publication-add-media-btn-' + ${comment.id}" class="publication-add-media-btn">Додати медіа</button>
          <button class="publish-btn" th:attr="onclick='submitComment(\'' + ${comment.id} + '\',\'' + ${user.login} + '\')'">Опублікувати</button>
        </div>
      </div>

      <div class="report-section" th:classappend="${comment.id}" style="display: none;">
        <textarea type="text" class="report-field" th:classappend="${comment.id}" placeholder="Введіть текст скарги..."></textarea>
        <button class="publish-btn" th:attr="onclick='sendReport(\'' + ${comment.id} + '\')'">Поскаржитись</button>
      </div>

      <th:block th:if="${comment.publications != null and comment.publications.size() > 0}">
        <th:block th:each="i : ${#numbers.sequence(comment.publications.size() - 1, 0, -1)}">
          <div th:class="'comment-divider' + (${i == comment.publications.size() - 1} ? ' first' : '')"></div>
          <div th:replace="~{renderComment/renderCommentUser :: renderComment(comment=${comment.publications[i]})}"></div>
        </th:block>
      </th:block>
    </div>
  </th:block>
</html>
