<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="renderComment(comment)">
  <div class="comment" th:id="${comment.id}">
    <img class="commentImage" th:if="${comment.authorAvatar == null}" src="/usericon.png" alt="usericon"
         th:attr="data-login=${comment.authorLogin}"
         onclick="sendAnotherUserForm(this)">
    <img class="commentImage" th:unless="${comment.authorAvatar == null}" th:src="'data:image/jpeg;base64,' + ${comment.authorAvatar}" alt="usericon"
         width="30px" height="30px"
         th:attr="data-login=${comment.authorLogin}"
         onclick="sendAnotherUserForm(this)">
    <a class="username" href="#"
       th:text="${comment.authorName}"
       th:attr="data-login=${comment.authorLogin}"
       onclick="sendAnotherUserForm(this)"></a>
    <div class="commentText" th:text="${comment.text}"></div>
    <div class="commentMedia">
      <div th:if="${comment.media != null and !comment.media.isEmpty()}">
        <div th:if="${comment.media.size() == 1 and comment.isVideo}">
          <video loading="lazy" controls th:src="'data:video/mp4;base64,' + ${comment.media[0]}"></video>
        </div>

        <div th:if="${comment.media.size() > 0 and !comment.isVideo}">
          <div th:if="${comment.media.size() == 1}">
            <div class="media-preview">
              <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[0]}" alt="image" style="max-height: 300px; object-fit: contain;">
            </div>
          </div>

          <div th:if="${comment.media.size() == 2}">
            <table class="mediaTable">
              <tr>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[0]}" alt="image" style="max-height: 300px; object-fit: contain;">
                </td>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[1]}" alt="image" style="max-height: 300px; object-fit: contain;">
                </td>
              </tr>
            </table>
          </div>

          <div th:if="${comment.media.size() == 3}">
            <table class="mediaTable">
              <tr>
                <td colspan="2">
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[0]}" alt="image" style="max-height: 300px; object-fit: contain;">
                </td>
              </tr>
              <tr>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[1]}" alt="image" style="max-height: 150px; object-fit: contain;">
                </td>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[2]}" alt="image" style="max-height: 150px; object-fit: contain;">
                </td>
              </tr>
            </table>
          </div>

          <div th:if="${comment.media.size() == 4}">
            <table class="mediaTable">
              <tr>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[0]}" alt="image" style="max-height: 200px; object-fit: contain;">
                </td>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[1]}" alt="image" style="max-height: 200px; object-fit: contain;">
                </td>
              </tr>
              <tr>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[2]}" alt="image" style="max-height: 200px; object-fit: contain;">
                </td>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[3]}" alt="image" style="max-height: 200px; object-fit: contain;">
                </td>
              </tr>
            </table>
          </div>

          <div th:if="${comment.media.size() == 5}">
            <table class="mediaTable">
              <tr>
                <td colspan="2">
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[0]}" alt="image" style="max-height: 300px; object-fit: contain;">
                </td>
              </tr>
              <tr>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[1]}" alt="image" style="max-height: 150px; object-fit: contain;">
                </td>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[2]}" alt="image" style="max-height: 150px; object-fit: contain;">
                </td>
              </tr>
              <tr>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[3]}" alt="image" style="max-height: 150px; object-fit: contain;">
                </td>
                <td>
                  <img loading="lazy" th:src="'data:image/jpeg;base64,' + ${comment.media[4]}" alt="image" style="max-height: 150px; object-fit: contain;">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <button class="reply-btn" th:if="${group.members.contains(author.login)}" th:attr="onclick='makeVisible(\'' + ${comment.id} + '\')'">Reply</button>
    <button class="delete-btn" th:if="${comment.authorLogin == author.login || group.admins.contains(author.login)}" th:attr="onclick='submitRemoveComment(\'' + ${comment.id} + '\',\'' + ${group.id} + '\')'">Delete</button>
    <!--<button class="report-btn-t1" th:if="${comment.authorLogin != author.login && (comment.authorLogin == author.login || (group.admins.contains(author.login) && group.owner != comment.authorLogin))}" th:attr="onclick='makeVisibleReport(\'' + ${comment.id} + '\')'">Report</button>
    <button class="report-btn-t2" th:if="${comment.authorLogin != author.login && group.members.contains(author.login)}" th:attr="onclick='makeVisibleReport(\'' + ${comment.id} + '\')'">Report</button>
    <button class="report-btn-t3" th:if="${comment.authorLogin != author.login && !group.members.contains(author.login)}" th:attr="onclick='makeVisibleReport(\'' + ${comment.id} + '\')'">Report</button>--->

    <div class="reply-section" th:classappend="${comment.id}" style="display: none;">
      <textarea type="text" th:id="'publication-text-' + ${comment.id}" class="reply-field" th:classappend="${comment.id}" placeholder="Введіть тут Ваш коментар..."></textarea>

      <div th:id="'publication-media-preview-' + ${comment.id}" class="media-preview" th:classappend="${comment.id}"></div>
      <input type="file" th:id="'publication-media-' + ${comment.id}" class="media-field" name="media" accept="image/*,video/mp4" multiple style="display: none;">

      <div class="publication-actions">
        <button type="button" th:id="'publication-add-media-btn-' + ${comment.id}" class="publication-add-media-btn">Додати медіа</button>
        <button class="publish-btn" th:attr="onclick='submitComment(\'' + ${comment.id} + '\',\'' + ${group.id} + '\')'">Опублікувати</button>
      </div>
    </div>

    <div class="report-section" th:classappend="${comment.id}" style="display: none;">
      <textarea type="text" class="report-field" th:classappend="${comment.id}" placeholder="Введіть текст скарги..."></textarea>
      <button class="publish-btn" th:attr="onclick='sendReport(\'' + ${comment.id} + '\')'">Поскаржитись</button>
    </div>

    <th:block th:if="${comment.publications != null and comment.publications.size() > 0}">
      <th:block th:each="i : ${#numbers.sequence(comment.publications.size() - 1, 0, -1)}">
        <div th:class="'comment-divider' + (${i == comment.publications.size() - 1} ? ' first' : '')"></div>
        <div th:replace="~{renderComment/renderCommentGroup :: renderComment(comment=${comment.publications[i]})}"></div>
      </th:block>
    </th:block>
  </div>
</th:block>

</html>
