<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialPath</title>
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/userIconStyle.css">
    <link rel="stylesheet" href="/style/changePasswordStyle.css">
    <link rel="stylesheet" href="/style/gradientPage.css">
</head>
<body>
<div th:insert="~{shared/layout2 :: #layoutHeader}"></div>

<div class="container">
    <div class="authtitle"><h1>Change password</h1></div>
    <div class="authform">
        <form id="regform" method="post" action="/user/changePassword">
            <div class="authinput">
                <h2 class="name">Old password</h2>
                <input class="field" id="oldPassword" type="password" name="oldPassword" autocomplete="current-password" />
                <h2 class="name">New password</h2>
                <input class="field" id="password" type="password" name="password" autocomplete="new-password" />

                <input class="button" type="submit" value="Save" />

                <p class="errortext" th:text="${errorText}"></p>
            </div>
        </form>
        <div id="backform">
            <a class="button" id="buttonback" href="/user/authorisation">To my page</a>
        </div>
    </div>
</div>

<footer id="layoutFooter">
    <p>&copy; <span th:text="${#dates.year(#dates.createNow())}"></span> - SocialPath</p>
</footer>

<script src="/script/dropdownUser.js"></script>
<script src="/script/authorization/logout.js"></script>
</body>
</html>
