.backButton {
    background-color: #3baf9f;
    display: block;
    margin-top: 40px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    width: 100%;
    padding: 14px 5px;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.backButton:hover {
    background-color: #349e8f;
}
