body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: brightness(0.8);
    z-index: -1;
    pointer-events: none;
}

body {
    background-image: url('/pictures/index.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}
