<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div id="right">
    <form id="searchForm" method="get" action="/searchResult/getSearchResult">
      <input id="searchInput" type="hidden" name="searchText">
      <input class="field" th:value="${author.login}" type="hidden" name="login" />
      <input class="field" th:value="${author.password}" type="hidden" name="password" />
    </form>

    <form id="pseudoSearchForm">
      <input id="pseudoSearchInput" type="text" placeholder="Пошук...">
      <input id="searchButton" type="submit" value="Знайти" onclick="submitSearch(event)">
    </form>

    <div th:if="${group.members.contains(author.login)}">
      <br><br>
      <div id="new-comment">
        <form id="new-publication-form" enctype="multipart/form-data">
          <textarea id="publication-text" name="text" placeholder="Введіть текст публікації..."></textarea>

          <div id="publication-media-preview" class="media-preview"></div>
          <input type="file" id="publication-media" name="media" accept="image/*,video/mp4" multiple style="display: none;">

          <div class="publication-actions">
            <button type="button" id="publication-add-media-btn" class="publication-add-media-btn">Додати медіа</button>
            <button class="submit-btn" type="button" th:attr="onclick='submitPublication(\'' + ${group.id} + '\')'">Опублікувати</button>
          </div>
        </form>
      </div>
    </div>

    <br><br>

    <div id="publications" th:fragment="publications">
      <th:block th:if="${publications != null and publications.size() > 0}">
        <th:block th:each="i : ${#numbers.sequence(publications.size() - 1, 0, -1)}">
          <div  th:replace="~{renderComment/renderCommentGroup :: renderComment(comment=${publications[i]})}"></div>
        </th:block>
      </th:block>
      <p th:unless="${publications != null and publications.size() > 0}">Публікацій ще нема.</p>
    </div>

    <form id="commentReporter" method="post" action="/report/addReport">
      <input class="field" th:value="${group.id}" type="hidden" name="idPage" />
      <input class="field" value="Comment Group" type="hidden" name="type" />
      <input class="field" th:value="${author.login}" type="hidden" name="authorLogin" />
      <input class="field" th:value="${author.password}" type="hidden" name="authorPassword" />
      <input class="field" id="idPublicationReport" value="" type="hidden" name="idPublication" />
      <input class="field" id="idCommentReport" value="" type="hidden" name="idComment" />
      <input class="field" id="commentTextReport" value="" type="hidden" name="subject" />
    </form>
  </div>
</html>
