<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialPath</title>
    <link rel="stylesheet" th:href="@{/style/layout.css}">
    <link rel="stylesheet" th:href="@{/style/regBizFormStyle.css}">
    <link rel="stylesheet" th:href="@{/style/gradientPage.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.css" />
    <link rel="stylesheet" href="/style/mapStyle.css">
</head>
<body>
<div th:insert="~{/shared/layout3 :: #layoutHeader}"></div>

<div class="container">
    <div class="regtitle">
        <h1>Реєстрація</h1>
    </div>
    <div id="changingHaightForm" class="regform">
        <form id="regform" method="post" action="/registration-biz/registration-biz">
            <div class="reginput">
                <h2 class="name">Логін</h2>
                <input class="field" id="login" th:value="${biz.login}" type="text" name="login">
                <h2 class="name">Пароль</h2>
                <input class="field" id="password" th:value="${biz.password}" type="text" name="password">
                <h2 class="name">Назва</h2>
                <input class="field" id="name" th:value="${biz.name}" type="text" name="name">
                <h2 class="name">Гасло</h2>
                <input class="field" id="surname" th:value="${biz.slogan}" type="text" name="slogan">
                <h2 class="name">Номер телефону</h2>
                <input class="field" id="phone" th:value="${biz.phoneNumber}" type="text" name="phoneNumber">
                <h2 class="name">Електронна пошта</h2>
                <input class="field" id="email" th:value="${biz.email}" type="text" name="email">

                <div class="jobs-section" style="padding-bottom: 50px;">
                    <h2 class="name" style="margin-top: 0;">Сфери діяльності</h2>

                    <th:block th:if="${biz.jobs != null}">
                        <input th:if="${#lists.size(biz.jobs) == 0}" class="field jobs-field" name="jobs" type="text" />
                    </th:block>

                    <input th:if="${biz.jobs == null}" class="field jobs-field" name="jobs" type="text" />

                    <th:block th:each="job, iterStat : ${biz.jobs}">
                        <input class="field jobs-field" th:value="${job}" name="jobs" type="text" />
                    </th:block>

                    <button type="button" class="button add-job-button" style="margin-top: -20px;">Додати сферу діяльності</button>
                </div>

                <div class="map-section">
                    <input type="hidden" id="address" th:value="${concreteAddress}" name="concreteAddress">
                    <input type="hidden" id="latitude" th:value="${latitude}" name="latitude">
                    <input type="hidden" id="longitude" th:value="${longitude}" name="longitude">

                    <div class="map-container" id="mapContainer">
                        <h2 id="map-name" class="name" th:class="${onlyOnline ? 'name hidden' : 'name'}">Місцезнаходження на карті</h2>

                        <div class="remote-checkbox">
                            <input type="checkbox" id="remoteWork" name="onlyOnline" th:value="${onlyOnline}" th:checked="${onlyOnline}">
                            <label for="remoteWork">Тільки дистанційно</label>
                        </div>

                        <div id="search-container" th:class="${onlyOnline ? 'hidden' : ''}">
                            <div class="search-row">
                                <input type="text" id="search-input" placeholder="Введіть адресу для пошуку">
                                <button type="button" id="search-button">Пошук</button>
                            </div>
                        </div>

                        <div id="map" th:class="${onlyOnline ? 'hidden' : ''}"></div>
                    </div>
                </div>

                <input class="button" type="submit" value="Зареєструватися">
                <p class="errortext" id="errortext"></p>
                <p class="errortext" th:text="${errorText}"></p>
            </div>
        </form>
    </div>
</div>

<footer id="layoutFooter">
    <p>&copy; <span th:text="${#dates.year(#dates.createNow())}"></span> - SocialPath</p>
</footer>

<script src="/script/jobsSection.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.3/leaflet.js"></script>
<script src="/script/locationMapBiz.js"></script>

</body>
</html>
