<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialPath</title>
    <link rel="stylesheet" th:href="@{/style/layout.css}">
    <link rel="stylesheet" th:href="@{/style/regFormStyle.css}">
    <link rel="stylesheet" th:href="@{/style/gradientPage.css}">
</head>
<body>
<div th:insert="~{/shared/layout :: #layoutHeader}"></div>

<div class="container">
    <div class="regtitle">
        <h1>Реєстрація</h1>
    </div>
    <div class="regform">
        <form id="regform" method="post" action="/registration/registration">
            <div class="reginput">
                <h2 class="name">Логін</h2>
                <input class="field" id="login" th:value="${User.login}" type="text" name="login">
                <h2 class="name">Пароль</h2>
                <input class="field" id="password" th:value="${User.password}" type="text" name="password">
                <h2 class="name">Ім'я</h2>
                <input class="field" id="name" th:value="${User.firstName}" type="text" name="firstName">
                <h2 class="name">Прізвище</h2>
                <input class="field" id="surname" th:value="${User.lastName}" type="text" name="lastName">
                <h2 class="name">Номер телефону</h2>
                <input class="field" id="phone" th:value="${User.phoneNumber}" type="text" name="phoneNumber">
                <h2 class="name">Електронна пошта</h2>
                <input class="field" id="email" th:value="${User.email}" type="text" name="email">
                <h2 class="name">День народження</h2>
                <input class="field" id="dob-day" th:value="${User.year != -1 ? User.day : ''}" type="text" name="day">
                <h2 class="name">Місяць народження</h2>
                <select id="dob-month" name="month">
                    <option value="" th:selected="${User.month == null}" th:disabled="${User.month == null}">Місяць</option>
                    <option value="1" th:selected="${User.month == 'Січень'}">Січень</option>
                    <option value="2" th:selected="${User.month == 'Лютий'}">Лютий</option>
                    <option value="3" th:selected="${User.month == 'Березень'}">Березень</option>
                    <option value="4" th:selected="${User.month == 'Квітень'}">Квітень</option>
                    <option value="5" th:selected="${User.month == 'Травень'}">Травень</option>
                    <option value="6" th:selected="${User.month == 'Червень'}">Червень</option>
                    <option value="7" th:selected="${User.month == 'Липень'}">Липень</option>
                    <option value="8" th:selected="${User.month == 'Серпень'}">Серпень</option>
                    <option value="9" th:selected="${User.month == 'Вересень'}">Вересень</option>
                    <option value="10" th:selected="${User.month == 'Жовтень'}">Жовтень</option>
                    <option value="11" th:selected="${User.month == 'Листопад'}">Листопад</option>
                    <option value="12" th:selected="${User.month == 'Грудень'}">Грудень</option>
                </select>
                <h2 class="name">Рік народження</h2>
                <select id="dob-year" name="year">
                    <option th:value="${User.year != 0 && User.year != -1 ? User.year : ''}"
                            th:selected="${User.year != 0 && User.year != -1}"
                            th:disabled="${User.year == 0 || User.year == -1}"
                            th:text="${User.year != 0 && User.year != -1 ? User.year : 'Рік'}"></option>
                </select>
                <input type="hidden" id="dateOfBirth" name="dateOfBirth" value="">
                <h2 class="name">Країна</h2>
                <input class="field" id="country" th:value="${User.Country}" type="text" name="country">
                <h2 class="name">Регіон</h2>
                <input class="field" id="region" th:value="${User.Region}" type="text" name="region">
                <h2 class="name">Місто</h2>
                <input class="field" id="city" th:value="${User.City}" type="text" name="city">
                <h2 class="name">Освіта</h2>
                <input class="field" id="education" th:value="${User.Education}" type="text" name="education">
                <h2 class="name">Місце роботи</h2>
                <input class="field" id="workplace" th:value="${User.Workplace}" type="text" name="workplace">
                <input onclick="registerUser()" class="button" type="submit" value="Зареєструватися">
                <p class="errortext" id="errortext"></p>
                <p class="errortext" th:text="${errorText}"></p>
            </div>
        </form>
    </div>
</div>

<footer id="layoutFooter">
    <p>&copy; <span th:text="${#dates.year(#dates.createNow())}"></span> - SocialPath</p>
</footer>

<script src="/script/generateYears.js"></script>
<script src="/script/dateValidation.js"></script>
</body>
</html>
