<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="renderComment(comment)">
  <div class="comment" th:id="${comment.id}">
    <img src="/usericon.png" alt="usericon" />
    <a class="username" href="#" th:text="${comment.authorName}"></a>
    <div class="commentText" th:text="${comment.text}"></div>

    <div th:if="${comment.publications != null and comment.publications.size() > 0}">
      <div th:each="i : ${#numbers.sequence(comment.publications.size() - 1, 0, -1)}">
        <div  th:replace="~{renderComment/renderComment :: renderComment(comment=${comment.publications[i]})}"></div>
      </div>
    </div>
  </div>
</div>

</html>
